.chart{

float: left;
width: 45%;
margin-left: 50px;
margin-top: 25px;
}

.spline{
float: right;
width: 45%;
margin-right: 50px;
margin-top: 25px;
height: 94%;
}
.card1{
height: 100%;
width: 100%;
}


.orange{
    color: orange;
}
.bgorange{
   background-color:  orange;
   margin-left:79%
}

.blue{
    color: blue;
}

.bgblue{
    background-color: blue;
    margin-left:79%

}

.black{
    color: grey;

}
.bgblack{
    background-color: grey;

}

.green{
    color:green
}

.bggreen{
    background-color: green;
    margin-left:79%
}

.brown{
    color:brown
}

.bgbrown{
    background-color: brown;
}

.Events{
    margin-left: 88%;
}


