
<div style="background-color: azure;">
<div class="pgbody">
  <header style="background-color: antiquewhite ; text-align: center;">
    <h1>Sets</h1>
  </header>
  <div class="set">
    <button class="btn btn-primary" (click)="onclick()">Add set</button>
  </div><br>
  


  <div class="card">
    <div *ngFor="let s of Data; let i=index">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header> 
          <mat-panel-title>
            {{s.setName}}
          </mat-panel-title>
          <mat-panel-description >
            <div class="btn1">
              <button mat-raised-button color="primary" class="btn btn-sm btn-success" (click)="onEdit(i)">Edit</button>
              <button mat-raised-button color="warn" class="btn btn-sm btn-success" (click)="onDelete(i)" style="margin-left: 2px;">Delete</button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{s.setValue}}</p>
      </mat-expansion-panel>
    </div>
    <mat-paginator #paginator
    [length]="10"
  [pageSize]="5"  
  [pageSizeOptions]="[5,10]"
  aria-label="Select page">
</mat-paginator>
  </div><br>


  

</div></div>